#p_first_paragraph {
  color: #ffffff;
  font-size: 16px; /* px depend on device's resolution -> high res appears to be small  */
  font-family: "poppins", sans-serif;
}
/* 
div.roundimg {
  background-color: #ffffff;
  width: 250px;
  border-radius: 125px;
  margin: auto auto auto;
} */

main {
  margin: 200px auto 72px auto;
  background-color: #fa8072;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 40px;
}

img {
  margin-top: -160px;
}
p.abc {
  margin-top: 50px;
}

span.highlight {
  color: #a83030;
}
main h1{
  margin-left: -20px
}
